body {
    
    margin: 0;
    background-color: #2C2F33;
    font-family: 'Baloo 2', cursive;
    color: floralwhite;
    width: auto;
}
p {
    font-size: x-large;
}
a {
    color: greenyellow;
}
#menu ul {
    margin: auto;
    background-color:  black;
}

#menu ul li {
    list-style: none;
    display: inline;
}

#menu ul li a {
    margin: auto;
    padding: 30px 20px;
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    font-size: x-large;
}

#menu ul li a:hover {
    transition: 0.5s;
    background-color: #99AAB5;
}


#conteudo {
    text-align: center;
    width: 50%;
    margin: auto;
}