.white { color: #f8f8f2; }
.function { color: #50fa7b; } /* function() */
.built-in-function { color: #bd93f9; }
.string { color: #f1fa8c; } /* "string" */
.comment { color: #6272a4; } /* // comment */
.keyword { color: #ff79c6; } /* for, if, return */
.background { background-color: #282a36; }

p, pre {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    color: #6272a4;
    font-size: large;
}

.menu li a:hover {
  background-color: #44475a;
  color: #bd93f9;
}